.content
  -@systems.each do |idx,row|
    .hexrow
      - row.each do |system|
        .hex{:id => system.id, :class => system.name.present? ? "present" : ""}
          .centre
            .hexcontent
              - if %w(Amber Red).include?(system.travel_code)
                %div{class: system.travel_code.downcase}
              - system.bases.each do |b|
                %div{class: b.name.downcase.gsub(/\s+/,'_')}
                  = b.symbol
              %span.coords
                #{system.col.to_s.rjust(2, "0")}#{system.row.to_s.rjust(2, "0")}
              - if system.name.present?
                %span.starport
                  = system.starport
              %span.planet
                - unless system.name.blank?
                  .circle
              %span.name
                = system.name
            .tophalf{:class => system.links.include?(1) ? "background" : ""}
            .bottomhalf{:class => system.links.include?(4) ? "background" : ""}


          .slantright
            .tophalf{:class => system.links.include?(2) ? "background" : ""}
            .bottomhalf{:class => system.links.include?(5) ? "background" : ""}
          .slantleft
            .tophalf{:class => system.links.include?(6) ? "background" : ""}
            .bottomhalf{:class => system.links.include?(3) ? "background" : ""}
